/*
 * Custom CSS
 * Bootstrap Overrides/Customisations for Geneva Intranet
 * by John Gillespie, UNHQ, gillespiej@un.org
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*font-family: 'Open Sans', sans-serif;
		font-family: 'Open Sans Condensed', sans-serif;
		font-family: 'Roboto Slab', serif; */
h3 {
  font-size: 24px;
  line-height: 26px;
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.heading-box-left {
  padding-bottom: 7px;
  background: url(../img/btm-cnr-left-heading.png) no-repeat left bottom;
  margin-left: -7px;
  margin-bottom: 4px;
}
.heading-box-left h3 {
  background: #3c3c3c;
  color: #fff;
  padding: 12px 17px 15px 17px;
  margin: 0;
}
.meetings-events .heading-box-left {
  background: #ffffff url(../img/btm-cnr-right-heading-grey.png) no-repeat right bottom;
  margin-left: 0;
  margin-bottom: 0;
}
.meetings-events .heading-box-left h3 {
  background: #34495e;
  margin-top: -8px;
  margin-bottom: 0;
  padding-bottom: 1.75em;
}
.iseek-stories .heading-box-left {
  margin-left: -7px;
}
.iseek-stories .heading-box-left h3 {
  font-family: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
  text-transform: none;
  background: #808080;
}
.heading-box-right {
  padding-bottom: 7px;
  background: url(../img/btm-cnr-right-heading.png) no-repeat right bottom;
  margin-right: -7px;
}
.heading-box-right h3 {
  background: #fa4248;
  color: #fff;
  padding: 0.7em 0.8em 1.5em 0.8em;
  margin: 0;
  font-size: 16.8px;
  line-height: 18.2px;
  font-family: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
  text-transform: uppercase;
}
.heading-box-right.box-heading-grey h3 {
  background: #808080;
}
h4 {
  font-family: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: #000;
}
h4.media-heading {
  font-weight: 400;
  padding-top: 0;
  margin-top: 0;
}
.iseek-stories h4.media-heading {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12.6px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: normal;
  margin-top: 0.5em;
}
.meetings-events h4 {
  font-size: 11.9px;
  line-height: 16px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #000000;
  letter-spacing: normal;
  background: url(../img/bullet.png) no-repeat left 3px;
  padding-left: 16px;
  padding-top: 0;
  margin-bottom: 0.3em;
}
.meetings-events h4 a {
  color: #000000;
}
h5 {
  font-size: 16.8px;
  line-height: 34px;
  font-family: 'Open Sans Condensed';
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.row-site-highlights h5 {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0.4em;
  color: #13b4f0;
}
.right-col-2 p,
.iseek-stories p,
.row-site-highlights p {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}
.iseek-stories p {
  font-size: 15.400000000000002px;
  line-height: 20px;
}
.row-site-highlights p {
  line-height: 20px;
}
.right-col-2 ul li {
  font-size: 11.9px;
  line-height: 18px;
  font-weight: 300;
  font-family: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  padding: 4px 0 6px 6px;
  margin: 0;
  list-style: none;
  border-bottom: #d0d1d3 dotted 1px;
}
.right-col-2 ul li a {
  color: #000000;
}
.right-col-2 ul li a:hover {
  color: #13b4f0;
}
.row-site-highlights ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.row-site-highlights ul li {
  font-size: 12.6px;
  line-height: 18px;
  font-weight: 300;
  font-family: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;
  color: #000000;
  margin: 0;
  padding: 0 0 4px 0;
}
.row-site-highlights ul li a {
  color: #000000;
  text-decoration: underline;
}
.row-site-highlights ul.bullets li {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 17px;
  margin: 0;
  padding: 0 0 10px 20px;
  background: url(../img/bullet.png) no-repeat left 4px;
}
.meetings-events p {
  font-family: 'Open Sans Condensed';
  line-height: 17px;
  color: #000000;
}
hr {
  border-top: none;
  border-bottom: #d0d1d3 dotted 1px;
}
.btn-flat {
  padding: 0.4em 1em 0.6em 1em;
  font-size: 12.6px;
  font-weight: 700;
  color: #fff;
  line-height: 14px;
  text-transform: uppercase;
  text-shadow: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  letter-spacing: 0.1em;
}
.btn-flat a:hover {
  color: #fff55b;
}
.btn-blue {
  background: #13b4f0 !important;
  padding-left: 3em;
  padding-right: 3em;
  margin: 0;
}
.btn-blue:hover {
  color: #fff55b;
}
.btn-more {
  background: transparent url(../img/more-button-bg.png) no-repeat left top !important;
  padding-left: 0.3em;
  padding-right: 0;
  padding-top: 0.7em;
  padding-bottom: 0.5em;
  width: 80px;
}
.row-site-highlights .btn-more {
  background: url(../img/more-button-bg-2.png) no-repeat right top !important;
  padding: 4px 0 0 0;
  width: inherit;
  position: absolute;
  right: -4px;
  bottom: -5px;
}
.row-site-highlights .btn-more:hover {
  color: #fff55b;
}
.row-site-highlights .btn-more div.button-wrapper {
  background-color: #0a1729;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 0.4em;
  padding-bottom: 0.6em;
  overflow: hidden;
}
.navbar-inner {
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  padding: 0;
  margin: 0;
  min-height: inherit;
  filter: inherit;
}
.global-nav {
  border: none;
  border-bottom: #d0d1d3 dotted 1px;
  font-size: 12.6px;
  padding: 6px 17px 0 17px !important;
  height: 30px;
  margin-bottom: 0;
  z-index: 10;
}
.global-nav .navbar-inner {
  background-color: transparent;
  box-shadow: none;
}
.global-nav .brand {
  background: url(../img/un-emblem-sm.png) no-repeat;
  padding: 4px 23px 0 35px;
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-left: 0;
  margin-right: 16px;
  border-right: #d0d1d3 dotted 1px;
}
.global-nav .nav {
  padding: 0;
  margin: 0;
}
.global-nav .log-in {
  line-height: 14px;
  margin-top: -5px;
}
.global-nav .nav li a.dropdown-toggle {
  margin-top: 1px;
  padding: 0 0 0 0;
  line-height: 1.6em;
  background-color: transparent !important;
  color: #808080;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.global-nav .nav li a.dropdown-toggle .icon-home {
  color: #b3b3b3;
  line-height: 0.8em;
  float: left;
  margin-right: 8px;
}
.global-nav .nav li a.dropdown-toggle .caret {
  border-bottom-color: #898989 !important;
  border-top-color: #898989 !important;
}
.global-nav ul.dropdown-menu {
  border-radius: 0;
  border: none;
  background: #f9f9f9;
}
.global-nav ul.dropdown-menu li a:hover {
  background: #13b4f0;
}
.global-nav .nav li a.language-select {
  color: #fa4248 !important;
  margin-right: 34px;
}
.global-nav .nav li a.language-select .caret {
  border-bottom-color: #fa4248 !important;
  border-top-color: #fa4248 !important;
}
.navbar .nav {
  margin-right: 0;
}
.main-nav {
  padding: 0;
  margin: 0 0 16px 0;
}
.main-nav .navbar-inner {
  border-radius: 0;
  height: inherit;
  padding: 0 !important;
  margin: 0 !important;
}
.main-nav .brand-wrapper {
  background: url(../img/btm-cnr-left-lge.png) no-repeat left bottom;
  padding-bottom: 9px;
  margin-left: -23px;
  width: 238px;
  overflow: hidden;
  float: left;
}
.main-nav .brand {
  padding: 9px 0 13px 23px;
  margin: 0;
  width: 215px;
  font-size: 33px;
  line-height: 33px;
  font-weight: 800;
  color: #fff;
  background: #34495e;
  text-shadow: none;
  border-radius: 0;
  overflow: hidden;
}
.main-nav .brand span.location {
  color: #fff55b;
  font-size: 22px;
  font-weight: 300;
  line-height: 23px;
  text-transform: uppercase;
  display: block;
  padding: 0 0 0 3px;
}
.main-nav .nav {
  padding: 40px 0 0 0 !important;
}
.main-nav .nav li {
  padding: 0 14px 0 13px;
  margin: 0;
  border-right: #d0d1d3 dotted 1px;
}
.main-nav .nav li.last,
.main-nav .nav li.nav-search {
  border-right: none;
}
.main-nav .nav li.nav-search {
  padding-right: 0;
  float: right;
}
@media (min-width: 768px) and (max-width: 979px) {
  .main-nav .nav li {
    padding: 0 14px 0 0;
    margin: 0;
    border-right: none;
  }
}
.main-nav .nav li a {
  margin: 0;
  padding: 7px 0;
  font-size: 15.400000000000002px;
  line-height: 14px;
  background-color: transparent !important;
  text-shadow: none;
  color: #34495e;
  font-family: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  letter-spacing: 0;
}
.main-nav .nav li a:hover {
  text-shadow: none;
}
.main-nav .nav li a .caret {
  border-bottom-color: #898989 !important;
  border-top-color: #898989 !important;
  margin-left: 4px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .main-nav .nav li a {
    letter-spacing: 0;
  }
}
.main-nav .nav li.active a {
  border-bottom: #fa4248 solid 3px;
  background: transparent !important;
  box-shadow: none;
}
.main-nav .nav li.active a:hover {
  background: transparent !important;
  box-shadow: none;
}
.main-nav form.navbar-form {
  border: none;
  border-bottom: #d0d1d3 dotted 1px;
  position: relative;
  margin: 0;
}
.main-nav form.navbar-form input.search-query {
  padding-left: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin-top: 1px;
}
.main-nav form.navbar-form input::-webkit-input-placeholder,
.main-nav form.navbar-form textarea::-webkit-input-placeholder {
  color: #34495e;
  font-weight: bold;
}
.main-nav form.navbar-form button.btn {
  margin-top: 0;
  text-shadow: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
  padding-right: 0;
  color: #34495e;
  position: absolute;
  right: 0;
  top: 0;
}
.main-nav .dropdown-menu {
  border-radius: 0;
  border: none;
  margin: 0;
  margin-top: -9px;
  padding: 0;
  background: #f9f9f9;
  list-style: none;
  height: 147px;
  border-bottom: #13b4f0 solid 5px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.main-nav .dropdown-menu .media {
  padding: 0;
  margin: 0;
}
.main-nav .dropdown-menu ul,
.main-nav .dropdown-menu li {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}
.main-nav .dropdown-menu li a,
.main-nav .dropdown-menu h6 a {
  font-size: 13px;
  font-weight: 200;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 16px !important;
  padding: 0 0 4px 0;
  margin: 0;
  color: #000;
}
.main-nav .dropdown-menu li a:hover,
.main-nav .dropdown-menu h6 a:hover {
  border-bottom: none;
}
.main-nav .dropdown-menu h6 {
  padding-top: 6px;
}
.main-nav .dropdown-menu .row-fluid {
  padding: 17px 25px;
}
.main-nav .dropdown-menu .global-links {
  margin: -17px 0 0 -25px;
  padding: 17px 25px;
  background: #d4d4d4;
  height: 147px;
}
.main-nav .dropdown-menu .global-links li a {
  text-transform: uppercase;
  color: #000;
}
@media (min-width: 768px) and (max-width: 979px) {
  .main-nav .dropdown-menu {
    height: 220px;
  }
  .main-nav .dropdown-menu .global-links {
    height: 220px;
  }
}
.yellow-divider {
  border-bottom: #ffbf00 solid 8px;
  position: absolute;
  z-index: -1;
  padding: 0;
  margin: 0;
  padding-top: 103px;
  width: 100%;
}
.view-front-page-slideshow {
  margin: 0;
  position: relative;
  height: inherit;
  overflow: visible;
}
.view-front-page-slideshow .views-slideshow-cycle-main-frame {
  padding-left: 8px;
  padding-bottom: 6px;
}
.view-front-page-slideshow .views-field-title {
  position: absolute;
  top: 0;
  left: -8px;
  right: inherit;
  bottom: auto !important;
  padding: 0 0 9px 0;
  margin: 0;
  background: url(../img/btm-cnr-left-lge-2.png) no-repeat left bottom;
}
.view-front-page-slideshow .views-field-title .field-content {
  background: #13b4f0;
  padding: 1.3em;
}
.view-front-page-slideshow .views-field-title a {
  font-family: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 22px;
}
.view-front-page-slideshow .decoration-text {
  position: absolute;
  bottom: -6px;
  left: -7px;
  padding: 7px 0 0 0;
  margin: 0;
  font-family: 'Open Sans Condensed';
  font-size: 16.099999999999998px;
  font-weight: 700;
  color: #fff;
  line-height: 14px;
  text-transform: uppercase;
  text-shadow: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  letter-spacing: 0.1em;
  background: transparent url(../img/top-cnr-left-sm.png) no-repeat left top;
}
.view-front-page-slideshow span.label .label-wrapper {
  background: #fa4248;
  padding: 0.5em 1.3em 0.6em 1.3em;
}
.view-front-page-slideshow .btn-toolbar {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 1px;
  height: 31px;
  right: -7px;
}
.view-front-page-slideshow .btn-toolbar .carousel-indicators {
  position: relative;
  top: inherit;
  bottom: inherit;
  right: -7px;
  margin: 0;
  padding: 7px 0 0 0;
  height: 24px;
  background: transparent url(../img/top-cnr-right-sm.png) no-repeat right top;
}
.view-front-page-slideshow .btn-toolbar button {
  margin: 0 0 0 5px !important;
  text-shadow: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-family: 'Open Sans Condensed';
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background: #808080;
}
.view-front-page-slideshow .btn-toolbar button.active {
  background: #13b4f0;
}
.view-front-page-slideshow .btn-toolbar button:hover {
  background: #13b4f0;
}
.view-front-page-slideshow a.carousel-control {
  background: transparent url(../img/btm-cnr-left-sm-2.png) no-repeat left bottom;
  text-shadow: none;
  border: none;
  border-radius: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  font-size: 1.8em;
  line-height: 1.3em;
  height: inherit;
  width: inherit;
  margin: 0;
  margin-top: 1.3em;
  padding: 0 0 4px 0 !important;
  height: 36px;
}
.view-front-page-slideshow a.carousel-control .control-wrapper {
  background: #13b4f0;
  padding-top: 3px !important;
  padding-bottom: 4px !important;
  margin: 0;
  overflow: hidden;
  height: 29px !important;
}
.view-front-page-slideshow a.carousel-control i {
  margin: 0;
  padding: 0;
  margin-top: 4px;
  float: left;
}
.view-front-page-slideshow a.carousel-control i:hover {
  color: #fff55b;
}
.view-front-page-slideshow a.carousel-control.left {
  left: 3px;
}
.view-front-page-slideshow a.carousel-control.right {
  right: -12px;
  left: inherit;
  background: url(../img/btm-cnr-right-sm-2.png) no-repeat right bottom;
}
.view-front-page-slideshow a.carousel-control.left .control-wrapper {
  padding: 3px 9px 3px 8px;
}
.view-front-page-slideshow a.carousel-control.right .control-wrapper {
  padding: 3px 8px 3px 9px;
}
.right-col-1 .media {
  padding: 0 13px 0 16px;
}
.right-col-1 .media a.pull-left {
  margin-right: 14px;
}
.right-col-1 hr {
  margin: 7px 13px 8px 16px;
}
.right-col-1 .btn-more {
  margin-top: 1em;
}
@media (min-width: 768px) and (max-width: 1199px) {
  
}
@media (min-width: 768px) and (max-width: 1199px) {
  .right-col-1 .heading-box-left {
    margin-left: 3px;
  }
  .right-col-1 .media {
    padding-left: 26px;
  }
  .right-col-1 hr {
    margin-left: 26px;
  }
}
.right-col-2 ul,
.right-col-2 p,
.right-col-2 form,
.right-col-2 small {
  margin-right: 7px;
  margin-left: 13px;
}
.right-col-2 p {
  margin-top: 0;
  padding-bottom: 0.6em;
}
.right-col-2 form {
  margin-left: 7px;
  margin-right: 0;
}
.right-col-2 form.form-search {
  border: none;
  background: #f9f9f9;
  margin-bottom: 0.5em;
  position: relative;
}
.right-col-2 form.form-search input.search-query {
  padding-left: 9px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  background: transparent;
}
.right-col-2 form.form-search input::-webkit-input-placeholder,
.right-col-2 form.form-search textarea::-webkit-input-placeholder {
  color: #34495e;
  font-weight: bold;
}
.right-col-2 form.form-search button.btn {
  margin-top: 0;
  text-shadow: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
  margin: 0;
  width: inherit;
  padding-right: 6px;
  color: #34495e;
  position: absolute;
  right: 0;
  top: 0;
}
.right-col-2 small {
  font-weight: 300;
}
.right-col-2 small a {
  color: #000000;
}
.right-col-2 .box-heading-grey h3 {
  margin-top: 1.5em;
}
.right-col-2 ul.quick-links {
  margin: 0 0 0 7px;
}
.meetings-events {
  margin-top: 31px;
  margin-left: 0;
  background: #f9f9f9;
}
.meetings-events .last h4,
.meetings-events .last p {
  padding-right: 10px;
}
.iseek-stories {
  margin-top: 22px;
  margin-left: 0;
}
.iseek-stories .heading-box-wrapper {
  margin-left: 7px;
  margin-right: -7px;
  padding-bottom: 1.5em;
  background: #f9f9f9 url(../img/background-7px.png) right bottom repeat-y;
}
.iseek-stories .heading-box-wrapper p {
  margin-top: 0;
  padding: 0 15px;
}
.iseek-stories img.media-object {
  border-top: #13b4f0 solid 5px;
}
.iseek-stories .media {
  position: relative;
  overflow: visible;
}
.iseek-stories .border-right {
  position: absolute;
  right: 0;
  margin-right: -11px;
  top: 0;
  width: 1px;
  height: 163px;
  background: url(../img/grey-dotted-line-vert.png) repeat-y right top;
}
.iseek-stories .border-right.last {
  display: none;
}
@media (min-width: 768px) and (max-width: 979px) {
  .iseek-stories .border-right {
    height: 180px;
  }
}
@media (min-width: 1200px) {
  .iseek-stories .heading-box-wrapper {
    padding-bottom: 4.5em;
  }
  .iseek-stories .border-right {
    height: 180px;
    margin-right: -15px;
  }
}
.row-site-highlights {
  margin-top: 23px;
  margin-bottom: 36px;
}
.row-site-highlights .widget {
  border-top: #fa4248 solid 5px;
  background: #f9f9f9;
  overflow: visible;
  position: relative;
  padding: 12px 16px 3.5em 16px;
}
.row-site-highlights .unog-jobs .widget {
  margin-left: 7px;
}
.row-site-highlights .classified-ads .widget {
  border-top-color: #ffbf00;
}
.row-site-highlights .tips-resources .widget {
  border-top-color: #4e4e4e;
}
.row-site-highlights .forum-topics .widget {
  border-top-color: #000000;
}
.row-site-highlights i.icon-2x {
  float: left;
  margin-right: 6px;
  color: #34495e;
}
.row-site-highlights hr {
  margin-bottom: 0.8em;
}
#footer {
  border-top: #e4e4e4 solid 7px;
  background-color: #08111d;
  position: relative;
}
#footer .widget {
  padding: 0;
}
#footer h6 {
  font-size: 11.9px;
  text-transform: uppercase;
  color: #78bdd9;
  border-bottom: #d0d1d3 dotted 1px;
  padding: 18px 0 6px 0;
  margin: 0 0 9px 0;
  letter-spacing: 0.1em;
}
#footer h6 a {
  color: #78bdd9;
}
#footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#footer ul li {
  color: #ffffff;
  font-size: 12.6px;
  line-height: 18px;
  font-weight: 300;
  padding: 0 0 4px 0;
  margin: 0;
}
#footer ul li a {
  color: #ffffff;
}
#footer .site-links {
  position: relative;
  z-index: 2;
}
#footer .site-links .background {
  background-color: #010509;
  position: absolute;
  width: 100%;
  height: 376px;
  z-index: -1;
}
#footer .site-links .widget {
  padding: 10px 16px;
}
#footer .site-links .brand {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 29px;
  line-height: 29px;
  font-weight: 800;
  text-transform: none;
  letter-spacing: normal;
  color: #fff;
}
#footer .site-links .brand a:hover {
  text-decoration: none !important;
  border: none !important;
}
#footer .site-links .brand span.location {
  color: #fff55b;
  font-size: 19px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  padding: 0 0 0 3px;
}
#footer .site-links ul {
  padding: 0;
  margin: 19px 0 0 0;
  list-style: none;
}
#footer .site-links ul li {
  text-transform: uppercase;
  color: #78bdd9;
}
#footer .site-links ul li a {
  color: #78bdd9;
}
#footer .navbar {
  background-color: #010509;
  text-align: center;
  position: absolute;
  margin: 0;
  padding-top: 8px;
  height: 28px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  z-index: 3;
}
#footer .navbar ul {
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
#footer .navbar ul li {
  border-right: #d0d1d3 dotted 1px;
  padding: 0 9px;
  margin: 0;
  font-family: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;
  font-size: 11.9px;
  letter-spacing: 0.1em;
}
#footer .navbar ul li.last {
  border-right: none;
  padding-right: 0;
}
#footer .navbar ul li a {
  text-shadow: none;
  padding: 0;
  margin: 0;
}

@media all and (max-width: 400px)  {
  body {
    background: blue;
  }
}
